{% extends 'layouts/base.html' %}
{% block body %}
    <!-- ======= About Section ======= -->
<section id="showcase" class="d-flex justify-content-center align-items-center">
        <div id="overlay"></div>
        <div id="header" class="container text-white text-center">
            <h3 class="display-5 mb-0">EVERYONE IS A BEGINNER AT SOME LAYER OF THE STACK.</h3>
            <p class="lead d-none d-md-block">One drop at a time!</p>
            <a href="https://github.com/malickhtwt" id="book" class="btn btn-lg btn-primary px-5">Github</a>
        </div>
    </section>

    <section id="about" class="about-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-sm-6 col-md-5">
                      <div class="about-img">
                        <img src="{{ url_for('static', filename='img/profile.jpg')}}" class="img-fluid rounded b-shadow-a" alt="">
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-7">
                      <div class="about-info">
                        <p><span class="title-s">Name: </span> <span>Malick Gueye</span></p>
                        <p><span class="title-s">Profile: </span> <span>full stack developer || Data scientist</span></p>
                        <p><span class="title-s">Email: </span> <span>malickhtwt@hotmail.fr</span></p>
                        <p><span class="title-s">Phone: </span> <span>(832) 988-4269</span></p>
                      </div>
                    </div>
                  </div>
                  <div class="skill-mf">
                    <p class="title-s">Front and Back End</p>
                    <span>Python</span> <span class="pull-right"></span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>Flask</span> <span class="pull-right"></span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>Django</span> <span class="pull-right"></span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>Javascript</span> <span class="pull-right"></span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>JQuery</span> <span class="pull-right"></span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>Ajax</span> <span class="pull-right"></span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>Emmet</span> <span class="pull-right"></span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>Html</span> <span class="pull-right"></span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>Css</span> <span class="pull-right"></span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>Bootstrap</span> <span class="pull-right"></span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>Sass</span> <span class="pull-right"></span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>Celery</span> <span class="pull-right"></span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>Docker</span> <span class="pull-right"></span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>AWS</span> <span class="pull-right"></span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>Ngrok</span> <span class="pull-right"></span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p class="title-s">Database</p>
                    <span>Postgres</span> <span class="pull-right"></span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>Oracle</span> <span class="pull-right"></span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>MongoDB</span> <span class="pull-right"></span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>Redis</span> <span class="pull-right"></span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>SQl Server</span> <span class="pull-right"></span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>SQlite</span> <span class="pull-right"></span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p class="title-s">Analytics</p>
                    <span>Pandas</span> <span class="pull-right"></span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>Numpy</span> <span class="pull-right"></span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>SciPy</span> <span class="pull-right"></span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>Matplotlib</span> <span class="pull-right"></span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p class="title-s">Desktop App</p>
                    <span>Tkinter</span> <span class="pull-right"></span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>PyQt5</span> <span class="pull-right"></span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="about-me pt-4 pt-md-0">
                    <div class="title-box-2">
                      <h5 class="title-s">
                        About me
                      </h5>
                    </div>
                    <p class="lead">
                      I'm a full stack developer with over 7 years of coding experience using Python language. I'm an experienced software engineer who has analytical thinking and collaboration skills. I love working with data and I'm currently enrolled in and data science course.
                     
                         
                    </p>
                    <p class="lead">
                       All projects I have worked on integrate database, user authentication, handling payments, sending email, implementing task queue in the background, analyse data launch in production using docker and many more.
                    </p>
                    <p class="lead">
                       Enjoy!
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->


    <!-- ======= Portfolio Section ======= -->
    <section id="work" class="portfolio-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Portfolio
              </h3>
              <p class="subtitle-a">
                The source code for some of my projects are available on github.
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="work-box">
              <a href="" data-gall="portfolioGallery" class="venobox">
                <div class="work-img">
                  <img src="{{ url_for ('static', filename='img/ecommerce.jpg')}}" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Sahl</h2>
                    <div class="w-more">
                      <span class="w-ctegory">E-commerce</span> / <span class="w-date">Aug. 2016</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="portfolio-details.html"> <span class="ion-ios-plus-outline"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="https://github.com/malickhtwt/Analyzing-visitor-traffic">
                <div class="work-img">
                  <img src="{{ url_for('static', filename='img/visitor.png')}}" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Analyzing vistor traffic</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Desktop App for Orange group</span> / <span class="w-date">May. 2015</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="https://github.com/malickhtwt/Analyzing-visitor-traffic"> <span class="ion-ios-plus-outline"></span></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Portfolio Section -->


    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Blog
              </h3>
              <p class="subtitle-a">
                Coming soon.....
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-img">
                <a href="blog-single.html"><img src="assets/img/post-1.jpg" alt="" class="img-fluid"></a>
              </div>
              <div class="card-body">
                <div class="card-category-box">
                  <div class="card-category">
                    <h6 class="category title-s">Data science</h6>
                  </div>
                </div>
                <h3 class="card-title"><u class="text-primary">Fake News Detection</u></h3>
                <p class="card-description">
                  A king of yellow journalism, fake news is false information and hoaxes spread through social media and other online media to achieve a political agenda. In this data science project idea, we will use Python to build a model that can accurately detect whether a piece of news is real or fake.
                </p>
              </div>
              <div class="card-footer">
                <div class="post-author">
                  
                    <img src="assets/img/" alt="" class="avatar rounded-circle">
                    <span class="author"><u class="text-primary"> Working on it</u></span>
                  
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </section><!-- End Blog Section -->

    <!-- ======= Contact Section ======= -->
    <section class="paralax-mf footer-paralax bg-image sect-mt4 route">
      <div id="contact" class="overlay-mf"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Contact
              </h3>       
            </div>
            <div class="contact-mf">
              <div class="box-shadow-full">
                <div class="row">
                  <div class="col-md-6">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        Send Me a Message
                      </h5>
                    </div>
                    <div>
                      <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                              <div class="validate"></div>
                            </div>
                          </div>
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                              <div class="validate"></div>
                            </div>
                          </div>
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                              <div class="validate"></div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                              <div class="validate"></div>
                            </div>
                          </div>
                          <div class="col-md-12 text-center">
                            <button type="submit" class="button button-a button-big button-rouded" disabled>Send Message</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="title-box-2 pt-4 pt-md-0">
                      <h5 class="title-left">
                        Get in Touch
                      </h5>
                    </div>
                    <div class="more-info">
                      <p class="lead">
                        If you would like to hire me to work on your current projects or new ones you can contact me via my phone number or email. The contact form is disabled at the moment.
                      </p>
                      <ul class="list-ico">
                        <li><span class="ion-ios-location"></span> Houston, TX</li>
                        <li><span class="ion-ios-telephone"></span> (832) 988-4269</li>
                        <li><span class="ion-email"></span> malickhtwt@hotmail.fr</li>
                      </ul>
                    </div>
                    <div class="socials">
                      <ul>
                        <li><a href="https://linkedin.com/in/malickhtwt"><span class="ico-circle"><i class="ion-social-linkedin"></i></span></a></li>
                        <li><a href="https://github.com/malickhtwt"><span class="ico-circle"><i class="ion-social-github"></i></span></a></li>
                    
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

    {% endblock %}